@charset "utf-8";
ul.ddmenu {
	color: #EEEEEE;
	background-color: #111111;
}

header {
    height: 120px;
    width: 800px;
    background-color: #222222;
    font-family: "HGS明朝B";
}
header h1 {
    color: #EEEEEE;
}
nav {
	height: 30px;
    width: 800px;
	background-color: #444444;
}

nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
  	margin-left: 1em;
	
}
nav ul li a{
    color: #C7CCFF;
    float: left;
    width: 200px;
}

.big_box{
    height: 550px;
    width: 800px;
}
main{
    height: 550px;
    width: 600px;
    background-color: #333333;
    float: left;
}
.r_aside {
    height: 550px;
    width: 200px;
    background-color: #222222;
    float: right;
}

article {
    height: 150px;
    width: 600px;
    background-color: #333333;
}
section {
    height: 150px;
    width: 195px;
    background-color: #333333;
    float: left;
    background-image: url(url);
    line-height: normal;
    font-size: small;
	border: thin solid #FFFFFF;
}

section p {
	font-family: "HGS明朝B";
	
}

aside {
    height: 100px;
    width: 195px;
    background-color: #444444;
    display: table-cell;
    font-size: medium;
    font-family: "HGS明朝B";
    border: thin solid #FFFFFF;
    float: right;
}
footer {
    height: 70px;
    width: 800px;
    background-color: #555555;
    float: left;
}
